@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}
body {
	background-color: #000;
	font-family: 'Poiret One', cursive;
}
#container {
	width: 100vw;
	min-height: 100vh;
	position: relative;
}
header {
	background-color: #666;
	color: #eee;
	text-align: center;
	height:80px;
}
header h1 {
	padding: 5px;
	font-size: 20px;
}
header h2 {
	padding: 5px;
	font-size: 17px;
	color: #FFE189;
}

#parent_of_myoct {
	perspective: 2000px;
	perspective-origin: 50% 700px;
	position: relative;
	top: 300px;
	transform:scale(0.7);
	z-index: 9999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}
#left_arrow, #right_arrow {
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top: 39%;
	z-index: 100;
	cursor: pointer;
}


#left_arrow {
	background-image: url(../ui_images/left.png);
	left: 2vw;
}
#right_arrow {
	background-image: url(../ui_images/right.png);
	right: 2vw;
}

#myoct {
	position: relative;
	margin: 0 auto;
	width: 30vw;
	height: 30vw;
	transform-style: preserve-3d;
	transition: all 1s;
/*	 background-color: #F00;*/
}
.side {/*all 6 dives and 6 p's*/
	position: absolute;
	width: 30vw;
	height: 30vw;
	background-size: cover;
	background-position: center;
	/*we write code here!*/
}
div.side {
	box-shadow: inset 10px -20px 60px rgba(0,0,0,0.80);
}
#myoct .first {
	transform: rotateY(0deg) translateZ(36.21vw);
	background-image: url(../oct_images/markus-spiske-cn0-hgcpoL8-unsplash.jpg);
}
#myoct .second {
	transform: rotateY(45deg) translateZ(36.21vw);
	background-image: url(../oct_images/henrik-donnestad-uG6R6Hl-L74-unsplash.jpg);
}
#myoct .third {
	transform: rotateY(90deg) translateZ(36.21vw);
	background-image: url(../oct_images/henrik-donnestad-Mc_Eh0mrh7c-unsplash.jpg);
}
#myoct .fourth {
	transform: rotateY(135deg) translateZ(36.21vw);
	background-image: url(../oct_images/henrik-donnestad-HO1Evlp1p1o-unsplash.jpg);
}
#myoct .fifth {
	transform: rotateY(180deg) translateZ(36.21vw);
	background-image: url(../oct_images/europeana-Agwv1mKDUnc-unsplash.jpg);
}
#myoct .sixth {
	transform: rotateY(225deg) translateZ(36.21vw);
	background-image: url(../oct_images/david-goulding-oanz-c6Bi5o-unsplash.jpg);
}
#myoct .seventh {
	transform: rotateY(270deg) translateZ(36.21vw);
	background-image: url(../oct_images/rick-rothenberg-KNDd8LcVHDY-unsplash.jpg);
}
#myoct .eighth {
	transform: rotateY(315deg) translateZ(36.21vw);
	background-image: url(../oct_images/the-new-york-public-library-a0h_2LjU5KQ-unsplash.jpg);
}
#myoct p {
	font-size: 3vw;
	color: #fff;
	font-weight: 800;
	text-shadow: 2px 2px 0px #000000;
	padding: 1vw 3vw;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	text-align: center;
}
#myoct p a {
	display: inline-block;
	width: 7vw;
	height: 7vw;
	background-image: url(../ui_images/view.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
#myoct .firstText  {
	transform: rotateY(0deg) translateZ(36.21vw); 
}
#myoct .secondText {
	transform: rotateY(45deg) translateZ(36.21vw); 
}
#myoct .thirdText  {
	transform: rotateY(90deg) translateZ(36.21vw); 
}
#myoct .fourthText {
	transform: rotateY(135deg) translateZ(36.21vw); 
}
#myoct .fifthText  {
	transform: rotateY(180deg) translateZ(36.21vw); 
}
#myoct .sixthText  {
	transform: rotateY(225deg) translateZ(36.21vw); 
}
#myoct .seventhText{
	transform: rotateY(270deg) translateZ(36.21vw); 
}
#myoct .eighthText {
	transform: rotateY(315deg) translateZ(36.21vw); 
}
footer {
	position:fixed;
	bottom:0;
	left:0;
	width:100vw;
	padding: 1vw;
	
}
footer p {
	font-size: 18px;
text-align: center;
	color: #ddd;
	margin-bottom: 10px;
}

/*************************************************************************************************************************/
@media only screen and (max-width : 800px) {
#myoct p {
	font-size: 5vw;
	padding: 0;
}
header {
	height: 40px;
	padding:3px
}
header h1 {
	font-size: 12px;
	padding:2px
}
header h2 {
	font-size: 10px;
	padding:2px
}
	
#parent_of_myoct {
perspective: 2000px;
perspective-origin: 50% 500px;
position: relative;
top:300px;
transform:scale(0.9);

}
#left_arrow, #right_arrow {
	width: 40px;
	height: 40px;/* top: 10px;*/

}
#myoct p a {
	width: 16vw;
	height: 16vw;
}
}
